@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

.signup {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    
    h1 {
        font-size: .5ev;
    }

}