@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import "../node_modules/sass-mediaqueries/_media-queries.scss";

.signup {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    
    h1 {
        font-size: 5vw;
        font-weight: 200;
        
        @include mq($min-width: 768px) {
            font-size: 3vw;
        }
        
    }
    
}