html {
  background: black; }

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center; }
  body .logo {
    flex-grow: 0;
    width: 33vw;
    margin: 0 auto; }
